<div class="row">
    <div class="col-6">
        <form [formGroup]="loginForm">
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="userName" class="form-control" formControlName="userName" placeholder="User Name">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="form-check-label"><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onLoginClick()">Sign in</button>
        </form>
    </div>
</div>

<!-- <div>
    <pre>{{loginForm.value | json}}</pre>
</div> -->